body {
    font-family: 'Roboto', sans-serif;
}


.wrapper {
    margin-left: 15vw;
    margin-right: 15vw;
}

/* Navigation bar */

.navigation {

    background-color: white;
    
    margin: 0px 0px 0px 0px;

    display: flex;
    align-items: center;

    position: relative;

    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 3px 20px #a7a6a6;

    z-index: 1;
}

.left-nav {

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    width: 50%;

    list-style: none;

    margin-left: 15vw;

    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;

}

.right-nav {
    
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    width: 50%;

    list-style: none;

    margin-right: 15vw;

    padding-top: 10px;
    padding-bottom: 10px;
}

.right-li {
    float: right;

    color: #606060;
}

.left-li {
    float: left;

    margin-right: 5%;

    color: #606060;
}

.left-li .item {
    margin-top: 5px;

}

.left-li a, .right-li a {
    color: #606060;

    transition: color 300ms ease-out;
}

.left-li a:hover, .right-li a:hover {
    color: #08B2B2;
    text-decoration: none;
}

.logout-button {

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    background-color: white;
    border: none;

    float: right;

    /* margin-right: 3%; */
    margin-left: 3%;
    color: #606060;

    transition: color 300ms ease-out;
}

.logout-button:hover {
    color: #08B2B2;
    cursor: pointer;
}

.right-li #alert {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    background-color: #262626;
}

#alert-count {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    margin-left: 1px;

    font-size: 10px;
    color: rgb(199, 13, 13);
}

/* Banner */

.banner {

    text-align: center;
    
    background-color: #20B0C7;

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    padding-top: 8vh;
    padding-bottom: 8vh;
}

.banner-text {

    font-family: 'Roboto', sans-serif;
    text-align: center;

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    font-size: 35px;

    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;

    color: white;
}

.banner-subtext {
    margin-top: 0px;
    color: white;
    display: block;
}


.info-text {
    text-align: center;

    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

 .right-nav #nav-mobile {
    visibility: hidden;
} 

.header-logo {
    width: 35px;
    height: 35px;
}

.not-logged {
    text-align: center; 
    margin-top: 20%; 
    font-size: 25px;

    font-family: 'Roboto', sans-serif;
}

@media (max-width: 576px) {
    
    .right-nav {
        width: 30%;
    }

    .left-nav { 
        width: 70%;
        border-right: 1px solid white;
    }

    .righ-li {
        height: 100%;
    }

    .righ-left {
        height: 100%;
    }

    #nav-mobile {
        transition: visibility 300ms ease-in-out;
    }

}
