
.info-wrapper {
    display: relative;
    float: left;

    width: 48%;
    height: 200px;
    margin-top: 50px;

    box-shadow: 0px 3px 20px #a7a6a6;
    /* opacity: 0.65; */
 
}

.info-title {
    color:#CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Roboto', sans-serif;

    margin: 20px;

}

.info-body {
    color: #646464;
    font-family: 'Roboto', sans-serif;

    margin: 20px;
}