
.info-wrapper {
    display: relative;
    float: left;

    width: 48%;
    min-height: 200px;
    margin-top: 50px;

    box-shadow: 0px 3px 20px #a7a6a6;
    /* opacity: 0.65; */
 
}

#one {
    margin-right: 2%;
}

#two {
    margin-left: 2%;
}

#three {
    margin-right: 2%;
}

#four {
    margin-left: 2%;
}

.info-title {
    color:#CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Roboto', sans-serif;

    margin: 20px;

}

.info-body {
    color: #646464;
    font-family: 'Roboto', sans-serif;

    margin: 20px;
    overflow: hidden;
}


@media only screen and (max-width: 800px) {

    .info-wrapper {
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
    }

}