.main-wrapper {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.staff-wrapper {
    width: 25%;

    margin-bottom: 10px;
}

.staff-img {
    text-align: center;
}

.staff-name {
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.staff-name a {
    text-decoration: none;
    color: #CCCCCC;
    transition: color 300ms ease-in;
}

.staff-name a:hover {
    text-decoration: none;
    color: #8a8a8a;
}


.staff-title {
    font-family: 'Roboto', sans-serif; 
    color: #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {

    .staff-wrapper {
        display: block;
        width: 100%;

       
    }

}