.main-wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.staff-wrapper {
    /* box-shadow: 0px 3px 20px #a7a6a6; */
    width: 25%;

    margin-bottom: 10px;
}

.staff-img {
    text-align: center;
}

.staff-name {
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.staff-name a {
    text-decoration: none;
    color: #CCCCCC;
    transition: color 300ms ease-in;
}

.staff-name a:hover {
    text-decoration: none;
    color: #8a8a8a;
}


.staff-title {
    font-family: 'Roboto', sans-serif; 
    color: #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 20px;
}