.wrapper {
    margin-left: 12vw;
    margin-right: 12vw; 
}

.reply-wrapper {
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    
    min-height: 240px;
}

.user {
    display: flex;
    float: left;
}

.reply {
    display: flex;
}

.reply p {
	overflow: hidden;
	word-wrap: break-word;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.reply ul {
    overflow: hidden;
	word-wrap: break-word;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.title-wrapper {
    
    border-radius: 3px;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    padding-left: 20px;

    margin-top: 20px;
    
    font-weight: 500;
    font-size: 20px;
}

.title-wrapper .title #title {
    margin: 0px 0px 0px 0px;
    display: inline-block;
    
    padding-bottom: 10px;
    padding-top: 10px;
}

.title-wrapper .title #resolved {
    margin: 0px 0px 0px 0px;
    display: inline-block;
    float: right;
    border-radius: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    color: white;

}

#user {
    margin-top: 5px;
}

#image {
    border-radius: 40%;
}

.user-info {
    text-align: center;
    margin-left: 20px;
    margin-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    
    padding: 30px 30px 30px 30px;
    list-style: none;
    height: 200px;
    width: 150px;
}

.button-wrapper {
    display: flex;
    float: right;
}

.accept-button {
    text-align: center;
    margin-right: 5px;
    background-color: #7fc47f;
    color: white;
    border: none;
    padding: 10px 10px 10px 10px;
    
    border-radius: 3px;
}

.deny-button {
    text-align: center;
    background-color: #f25f54;
    color: white;
    padding: 10px 10px 10px 10px;
    
    border: none;
    
    border-radius: 3px;
}

.reply-button {
    text-align: center;
    background-color: #007fc4;
    color: white;
    padding: 10px 10px 10px 10px;
    
    margin-top: 5px;
    
    border: none;
    
    float: right;
    
    border-radius: 3px;
}

#accepted-message {
    float: right;
}

