
.wrapper {
    margin-left: 12vw;
    margin-right: 12vw;
}

.title-wrapper {
    
    border-radius: 3px;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    padding-left: 20px;

    margin-top: 20px;
    
    font-weight: 500;
    font-size: 20px;
}

.title-wrapper .title #title {
    margin: 0px 0px 0px 0px;
    display: inline-block;
    
    padding-bottom: 10px;
    padding-top: 10px;
}

.title-wrapper .title #resolved {
    margin: 0px 0px 0px 0px;
    float: right;
    border-radius: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    color: white;

}

.button-wrapper {
    display: flex;
    float: right;
}

.accept-button {
    text-align: center;
    margin-right: 5px;
    background-color: #7fc47f;
    color: white;
    border: none;
    padding: 10px 10px 10px 10px;
    
    border-radius: 3px;
}

.deny-button {
    text-align: center;
    background-color: #f25f54;
    color: white;
    padding: 10px 10px 10px 10px;
    
    border: none;
    
    border-radius: 3px;
}

.reply-button {
    text-align: center;
    background-color: #007fc4;
    color: white;
    padding: 10px 10px 10px 10px;
    
    margin-top: 5px;
    
    border: none;
    
    float: right;
    
    border-radius: 3px;
}

#accepted-message {
    float: right;
}

