.body-wrapper {
   
    display: flex;

    /* box-shadow: 0px 1px 5px rgba(0,0,0,0.5); */

    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

}

.user-wrapper {

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    box-shadow: 0px 3px 20px #a7a6a6;

    margin-top: 20px;
    /* margin-bottom: 20px; */
    margin-right: 15px;

}

.user-img img {

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    text-align: center;

    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;

    border-radius: 30px;

}

.user-name p {

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    text-align: center;

    margin-top: 5px;

    width: 100%;
}

.user-name p a {
    
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

    color: #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 3px;
}


.user-date p {

    margin: 0px;
    padding: 0px;

    margin-top: 10px;
    margin-bottom: 10px;

    margin-left: 20px;
    margin-right: 20px;

    padding-bottom: 5px;

    text-align: center;

    font-size: 13px;
    color: #CCCCCC;
    font-family: 'Roboto', sans-serif;

    border-bottom: 1px solid #CCCCCC;
}
/* 
.user-rank p {

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;

    background-color: aqua;

    width: 100%;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
} */

.user-rank {
    width: 100%;
}

.user-status p {

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #3a3a3a;

    width: 100%;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

.text-wrapper {

    /* display: flex; */

    margin: 0px;
    padding: 0px;

    width: 100%;

    overflow: hidden;
	word-wrap: break-word;
}

.text-wrapper p {

	overflow: hidden;
	word-wrap: break-word;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    font-family: 'Roboto', sans-serif;
    color: #646464;
}

.text-wrapper ul {

	overflow: hidden;
	word-wrap: break-word;
    margin-top: 20px;
    margin-left: 5px;
    margin-right:5px;
    margin-bottom: 20px;

    font-family: 'Roboto', sans-serif;
  
}

.out-title-wrapper {
    display: block;

    overflow: hidden;
    word-wrap: break-word;

    margin-top: 20px;

    width: 100%;

    box-shadow: 0px 3px 20px #a7a6a6;
}


#owner {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #bf0b0b;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#developer {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #55FFFF;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#plat-admin {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #FF5555;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#senior-admin {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #FF5555;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#admin {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #FF5555;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#senior-mod {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #AA00AA;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#mod {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #AA00AA;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#partner {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #FF55FF;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#famous {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #FF55FF;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#youtuber {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #FF55FF;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#master {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #00AAAA;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#elite {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #FFAA00;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#prime {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #55FF55;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#basic {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #AAAAAA;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#normal {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #AAAAAA;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#trainee {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #FFFF55;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}

#host {

    margin: 0px;
    padding: 0px;

    text-align: center;

    margin-top: 10px;

    font-size: 10px;

    background-color: #AA00AA;

    /* width: 100%; */

    padding-right: 5px;
    padding-left: 5px;

    font-family: 'Roboto', sans-serif;

    color: white;

    font-weight: bold;
}
