* {
    font-family: 'Roboto', sans-serif;
}

.profile-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.user-wrapper {
    width: 25%;
}

.user {

    margin: 0px;
    padding: 0px;

    width: 100%;

    box-shadow: 0px 3px 20px #a7a6a6;

    text-align: center;
}

.user-image img {
    width: 100%;
}

.user-name {
    width: 100%;
    
    color: #CCCCCC;
    font-size: 16;
    padding-bottom: 5px;
}

.user-info {

    margin: 0px;
    padding: 0px;

    margin-top: 30px;

    width: 100%;

    box-shadow: 0px 3px 20px #a7a6a6;
}

.user-rank {
    padding-top: 15px;

    width: 100%;
}

.user-rank p {

    margin-left: 20%;
    margin-right: 20%;

    background-color: #55FFFF;
    text-align: center;

    color: white;
    font-weight: bold;
}

.separator-wrapper {
    display: block;
    width: 100%;
}

.separator {
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 8px;
    margin-top: 8px;
}

.last-seen {

    display: flex;
    flex-direction: row;

    width: 100%;

}

.last-seen #p1 {

    padding-left: 10%;

    width: 50%;
  
    margin: 0px;

    color: #CCCCCC;
    font-weight: bold;
    font-size: 12px;

}

.last-seen #p2 {

    padding-right: 10%;
  
    margin: 0px;

    width: 50%;
    
    color: #646464;
    font-size: 12px;
    text-align: right;

}

.name-history {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.name-history .name {

    padding-left: 10%;
    margin: 0px;
    width: 50%;
   
    color: #646464;
    font-size: 12px;
}

.name-history .name-date {

    padding-right: 10%;
    margin: 0px;
    width: 50%;

    color: #646464;
    font-size: 12px;
    text-align: right;
}

.punishment {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
}

.punishment #p1 {

    padding-left: 10%;
    margin: 0px;
    width: 50%;
   
    color: #CCCCCC;
    font-weight: bold;
    font-size: 12px;
}

.punishment #p2 {

    padding-right: 10%;
    margin: 0px;
    width: 50%;

    color: #646464;
   
    font-size: 12px;
    text-align: right;
}

.info-wrapper {
    width: 75%;
    margin-left: 20px;
}

.info-title {

    box-shadow: 0px 3px 20px #a7a6a6;

    padding: 15px;

    display: flex;
    flex-direction: row;

    width: 100%;
    margin: 0px;

    margin-bottom: 20px;
}

.info-title .profile-title {
    margin: 0px;
    width: 80%;
    color: #CCCCCC;
    font-weight: bold;
}

.info-title .status {
    margin: 0px;
    width: 20%;
    text-align: center;

    background-color: red;
    color: white;
    border-radius: 30px;

}

.dropbtn {
    background-color: #0d97af;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    border-radius: 30px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
}

.dropdown-content {

    margin: 0;
    margin-top: 1px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {

    color: #b3b3b3;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 52px;
    padding-right: 52px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.elo-wrapper {
    width: 100%;
}

.elo-box {
    width: 24%;
    float: left;
    box-shadow: 0px 3px 20px #a7a6a6;
    margin-top: 10px;
    padding: 10px;

    
}

.ladder {
    text-align: left;
    border-bottom: 1px solid #CCCCCC;
    color: #CCCCCC;
    margin-bottom: 3px;
}

.elo {
    text-align: left;
    color: #CCCCCC;
    margin-bottom: 0px;
}


#owner {

    background-color: #bf0b0b;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#developer {


    background-color: #55FFFF;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#plat-admin {

    background-color: #FF5555;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;

}

#senior-admin {

    background-color: #FF5555;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#admin {

    background-color: #FF5555;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#senior-mod {
    background-color: #AA00AA;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#mod {

    background-color: #AA00AA;
    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#partner {

    background-color: #FF55FF;
    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#famous {

    background-color: #FF55FF;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#youtuber {

    background-color: #FF55FF;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#master {

    background-color: #00AAAA;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#elite {

    background-color: #FFAA00;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#prime {
    background-color: #55FF55;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#basic {

    background-color: #AAAAAA;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#normal {

    background-color: #AAAAAA;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#trainee {


    background-color: #FFFF55;
    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}

#host {

    background-color: #AA00AA;

    margin-left: 20%;
    margin-right: 20%;

    text-align: center;

    color: white;
    font-weight: bold;
}
