* {
    font-family: 'Roboto', sans-serif;
}

.user {

    margin: 0px;
    padding: 0px;

    margin-top: 30px;

    width: 25%;

    box-shadow: 0px 3px 20px #a7a6a6;

    text-align: center;
}

.user-image img {
    width: 100%;
}

.user-name {
    width: 100%;
    
    color: #646464;
    font-size: 16;
    padding-bottom: 5px;
}

.user-info {

    margin: 0px;
    padding: 0px;

    margin-top: 30px;

    width: 25%;

    box-shadow: 0px 3px 20px #a7a6a6;
}

.user-rank {
    padding-top: 15px;

    width: 100%;
}

.user-rank p {

    margin-left: 20%;
    margin-right: 20%;

    background-color: #55FFFF;
    text-align: center;

    color: white;
    font-weight: bold;
}

.separator-wrapper {
    display: block;
    width: 100%;
}

.separator {
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 8px;
    margin-top: 8px;
}

.last-seen {

    display: flex;
    flex-direction: row;

    width: 100%;

}

.last-seen #p1 {

    padding-left: 10%;

    width: 50%;
  
    margin: 0px;

    color: #646464;
    font-size: 12px;

}

.last-seen #p2 {

    padding-right: 10%;
  
    margin: 0px;

    width: 50%;
    
    color: #646464;
    font-size: 12px;
    text-align: right;

}

.name-history {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.name-history .name {

    padding-left: 10%;
    margin: 0px;
    width: 50%;
   
    color: #CCCCCC;
    font-size: 12px;
}

.name-history .name-date {

    padding-right: 10%;
    margin: 0px;
    width: 50%;

    color: #CCCCCC;
    font-size: 12px;
    text-align: right;
}

.punishment {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.punishment #p1 {

    padding-left: 10%;
    margin: 0px;
    width: 50%;
   
    color: #CCCCCC;
    font-size: 12px;
}

.punishment #p2 {

    padding-right: 10%;
    margin: 0px;
    width: 50%;

    color: #CCCCCC;
    font-size: 12px;
    text-align: right;
}